.card-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 10px;
    z-index: 1;
    position: relative;
}
.card{
    color: white;
    width: 250px;
    margin: 10px 5px;
    border-radius: 5px;
    border: 2px solid yellow;
    background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/221808/sky.jpg");
}
.card h2, p{
    padding: 5px;
}

.card p{
    font-size: 16px;
}

.t-title{
    display: inline;
  }

i{
    cursor: pointer;
    padding-top: 2px;
}