* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#heading {
  color: yellow;
  margin: 10px;
  text-align: center;
}

.container {
  display: flex;
  flex-direction: column;
  z-index: 1;
  position: relative;
  margin: 10px;
}

#title {
  margin: 5px;
  padding: 5px;
  height: 40px;
  border-radius: 5px;
  font-size: 16px;
}

#desc {
  height: 120px;
  border-radius: 5px;
  font-size: 16px;
  padding: 5px;
  margin: 5px;
}

label {
  margin: 5px;
  color: white;
  font-size: 25px;
  font-weight: bold;
}

.buttons {
  display: flex;
}

.btn {
  margin: 5px;
  border-radius: 5px;
  background-color: blue;
  color: white;
  padding: 5px;
  border: 2px solid blue;
  font-weight: bold;
  width: 75px;
  cursor: pointer;
}

.btn2{
  margin: 5px;
  border-radius: 5px;
  background-color: red;
  color: white;
  padding: 5px;
  border: 2px solid red;
  font-weight: bold;
  width: 75px;
  cursor: pointer;
}
